/* contact page */

.contact-row-container {
  margin: 0;
  margin-bottom: 100px;
}

.contact-row-container h5 {
  font-weight: 600;
  margin-bottom: 25px;
}

form {
  padding: 40px;
  border-radius: 20px;
  margin: 0 auto;
  background-color: #e4edf0;
  max-width: 500px;
  text-align: center;
  min-height: 470px;
}

form .btn {
  min-width: 200px;
  min-height: 40px;
  color: #61dbfb;
  margin-top: 30px;
  background-color: #17182f;
}

form .btn:hover {
  background-color: #61dbfb;
  color: #17182f;
}

/* footer */

footer {
  border-top: solid 1px #61dbfb;
  background-color: #17182f;
  padding-top: 25px;
  padding-bottom: 20px;
  color: whitesmoke;
  text-align: center;
}

.socialmedia-icons {
  font-size: 2rem;
  color: whitesmoke;
  margin-left: 15px;
}

.socialmedia-icons:hover {
  color: #61dbfb;
}

.swal-text {
  text-align: center;
}

.swal-button {
  min-height: 40px;
  color: #61dbfb;
  margin-top: 30px;
  background-color: #17182f;
}

.swal-button--confirm:hover {
  background-color: #61dbfb !important;
  color: #17182f;
}

@media only screen and (max-width: 400px) {
  .contact-header h5 {
    max-width: 300px;
    margin: 0 auto;
  }

  form {
    padding: 20px;
    border-radius: 20px;
    margin: 0 auto;
    background-color: #e4edf0;
    max-width: 300px;
  }

  .location-container {
    margin-top: 50px;
    min-height: 400px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media only screen and (min-width: 401px) and (max-width: 960px) {
  .location-container {
    margin-top: 50px;
    min-height: 400px;
  }
}
