* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "PT Sans", sans-serif; */
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  max-width: 100%;
  overflow-x: hidden;
}

section {
  background-color: whitesmoke;
  padding-top: 50px;
}
